{% extends "base.html" %}

{% block page_content %}
<head>
    <style type="text/css">

		#mypic, #mytext {position: absolute;}

        #mypic   {  top: 100px; left: 50px;      }
        #mytext  {  top: 150px;left: 300px;      }


	</style>


</head>
    <div id="mytext">
        <p>
 	        <h1>Проект находится в стадии разработки</h1>
        <br>
            <h2>Представляет собой домашнее задание к уроку №6 учебного блока №30 </h2>
            <h6>Выполнил : Сергей Петровский</h6>
        </p>
    </div>

{% endblock %}